@using DotNetNuke.Common;
@using System;
@using DotNetNuke.Entities.Modules;
@using System.Data.SqlClient;
@using System.Diagnostics;
@using System.Data;
@using System.Data.Common;

@*Copyright (c) 2017 by Anubis *@

<body>
  <h2 class="text-center">Options for updating the Questionnaire</h2>
  <br></br>
  <p class="text-center"><a href="~/Administrator-Account/add-question" style="color:white" class="btn btn-primary btn-lg" role="button">Add New Question</a></p>
  <p class="text-center"><a href="~/Administrator-Account/update-question" style="color:white" class="btn btn-warning btn-lg" role="button">Update Question</a></p>
  <p class="text-center"><a href="~/Administrator-Account/remove-question" style="color:white" class="btn btn-danger btn-lg" role="button">Remove Question</a></p>

</body>
