@using DotNetNuke.Common;
@using System;
@using DotNetNuke.Entities.Modules;
@using System.Data.SqlClient;
@using System.Diagnostics;
@using System.Data;
@using System.Data.Common;

@*Copyright (c) 2017 by Anubis *@

<body>
@{

  var displayName = DotNetNuke.Entities.Users.UserController.GetCurrentUserInfo().DisplayName.ToString();
  var currentUser = DotNetNuke.Entities.Users.UserController.GetCurrentUserInfo().UserID.ToString();
  var readiness = 0;

  SqlConnection database = new SqlConnection("Data Source=gpsql.nau.froot.nau.edu,61707;Initial Catalog=petready;Integrated Security=True;");

  SqlCommand cmd = new SqlCommand();

  SqlDataReader reader;

  cmd.Parameters.AddWithValue("@1", currentUser);

  cmd.CommandText = "SELECT TOP 1 * FROM Responses WHERE User_ID = @1";

  cmd.CommandType = CommandType.Text;

  cmd.Connection = database;

  database.Open();

  reader = cmd.ExecuteReader();


  try
  {
    while(reader.Read())
    {
      readiness = reader.GetInt32(2);

      if(DBNull.Value == reader[1])
      {
        <h3>Want to see if you are PetReady and get your Readiness color? Complete the questionnaire by pressing the icon below.</h3>
        <p class="text-center"><a href="/Account/Questionnaire"><img alt="" src="/portals/0/grouped-large-icon-2x.png" style="width: 33%;" title="" /></a></p>
        <h3>@readiness</h3>
      }
      if(readiness >= 15 & DBNull.Value != reader[1])
      {
        <h1>Congratulations @displayName you are PetReady.</h1>
        <h2>To meet your match click on the buttons below.</h2>
        <a class="btn btn-success btn-lg text-center" type="button" href="/Questionnaire/mymcat" >Meet Your Match: Cats</a>
        <a class="btn btn-success btn-lg text-center" type="button" href="/Questionnaire/mymdog" >Meet Your Match: Dogs</a>
      }
      if(readiness < 15 & DBNull.Value != reader[1])
      {
        <h1>Congratulations @displayName you have been found to be a perfect match for fostering/volunteering.</h1>
        <a class="btn btn-success btn-lg text-center" type="button" href="/Get-Involved/Fostering-volunteering" >Click here to apply</a>
        <h3>Though you have been found to be a perfect match for fostering/volunteering, you can still meet your match below</h3>
        <a class="btn btn-success btn-lg text-center" type="button" href="/Questionnaire/mymcat" >Meet Your Match: Cats</a>
        <a class="btn btn-success btn-lg text-center" type="button" href="/Questionnaire/mymdog" >Meet Your Match: Dogs</a>
      }
    }
  }
  catch
  {

  }
  finally
  {
    reader.Close();
  }

}

@{

  var Dog_orange = 0;
  var Dog_purple = 0;
  var Dog_green = 0;
  var DogMax = 0;

  SqlCommand cmdDog = new SqlCommand();

  SqlDataReader Dogreader;

  cmdDog.Parameters.AddWithValue("@1", currentUser);

  cmdDog.CommandText = "SELECT TOP 1 * FROM DogResponses WHERE User_ID = @1";

  cmdDog.CommandType = CommandType.Text;

  cmdDog.Connection = database;

  Dogreader = cmdDog.ExecuteReader();


  try
  {
    while(Dogreader.Read())
    {
      Dog_orange = Dogreader.GetInt32(2);
      Dog_purple = Dogreader.GetInt32(3);
      Dog_green = Dogreader.GetInt32(4);
      DogMax = Math.Max(Dog_orange, Math.Max(Dog_purple, Dog_green));

      <p> @Dog_green @Dog_purple @Dog_orange @DogMax</p>

      if(DogMax == Dog_orange)
      {
        <h2>Thank you for completing the Meet-Your-Match for Dogs!</h2>
        <h3>Your match is to Orange Dogs.</h3>
      }

      if(DogMax == Dog_green)
      {
        <h2>Thank you for completing the Meet-Your-Match for Dogs!</h2>
        <h3>Your match is to Green Dogs.</h3>
      }

      if(DogMax == Dog_purple)
      {
        <h2>Thank you for completing the Meet-Your-Match for Dogs!</h2>
        <h3>Your match is to Purple Dogs.</h3>
      }

      if(DogMax == Dog_purple & DogMax == Dog_green)
      {
        <h2>Thank you for completing the Meet-Your-Match for Dogs!</h2>
        <h3>Your match is to Purple & Green Dogs.</h3>
      }

      if(DogMax == Dog_purple & DogMax == Dog_orange)
      {
        <h2>Thank you for completing the Meet-Your-Match for Dogs!</h2>
        <h3>Your match is to Purple & Orange Dogs.</h3>
      }
      if(DogMax == Dog_orange & DogMax == Dog_green)
      {
        <h2>Thank you for completing the Meet-Your-Match for Dogs!</h2>
        <h3>Your match is to Orange & Green Dogs.</h3>
      }
      if(DogMax == Dog_purple & DogMax == Dog_green & DogMax == Dog_orange)
      {
        <h2>Thank you for completing the Meet-Your-Match for Dogs!</h2>
        <h3>Your match is to Purple & Green & Orange Dogs.</h3>
      }

    }
  }
  catch
  {

  }
  finally
  {
    Dogreader.Close();
  }

}

@{

  var Cat_orange = 0;
  var Cat_purple = 0;
  var Cat_green = 0;
  var CatMax = 0;

  SqlCommand cmdCat = new SqlCommand();

  SqlDataReader Catreader;

  cmdCat.Parameters.AddWithValue("@1", currentUser);

  cmdCat.CommandText = "SELECT TOP 1 * FROM CatResponses WHERE User_ID = @1";

  cmdCat.CommandType = CommandType.Text;

  cmdCat.Connection = database;

  Catreader = cmdCat.ExecuteReader();


  try
  {
    while(Catreader.Read())
    {
      Cat_orange = Catreader.GetInt32(2);
      Cat_purple = Catreader.GetInt32(3);
      Cat_green = Catreader.GetInt32(4);
      CatMax = Math.Max(Cat_orange, Math.Max(Cat_purple, Cat_green));

      <p> @Cat_green @Cat_purple @Cat_orange @CatMax</p>

      if(CatMax == Cat_orange)
      {
        <h2>Thank you for completing the Meet-Your-Match for Cats!</h2>
        <h3>Your match is to Orange Cats.</h3>
      }

      if(CatMax == Cat_green)
      {
        <h2>Thank you for completing the Meet-Your-Match for Cats!</h2>
        <h3>Your match is to Green Cats.</h3>
      }

      if(CatMax == Cat_purple)
      {
        <h2>Thank you for completing the Meet-Your-Match for Cats!</h2>
        <h3>Your match is to Purple Cats.</h3>
      }

      if(CatMax == Cat_purple & CatMax == Cat_green)
      {
        <h2>Thank you for completing the Meet-Your-Match for Cats!</h2>
        <h3>Your match is to Purple & Green Cats.</h3>
      }

      if(CatMax == Cat_purple & CatMax == Cat_orange)
      {
        <h2>Thank you for completing the Meet-Your-Match for Cats!</h2>
        <h3>Your match is to Purple & Orange Cats.</h3>
      }
      if(CatMax == Cat_orange & CatMax == Cat_green)
      {
        <h2>Thank you for completing the Meet-Your-Match for Cats!</h2>
        <h3>Your match is to Orange & Green Cats.</h3>
      }
      if(CatMax == Cat_purple & CatMax == Cat_green & CatMax == Cat_orange)
      {
        <h2>Thank you for completing the Meet-Your-Match for Cats!</h2>
        <h3>Your match is to Purple & Green & Orange Cats.</h3>
      }

    }
  }
  catch
  {

  }
  finally
  {
    Catreader.Close();
  }

}
  <br></br>
  <hr></hr>
  <br></br>
  <h3>Want to see if you are PetReady and Meet Your Match? Complete the questionnaire by pressing the icon below.</h3>
  <p class="text-center"><a href="/Account/Questionnaire"> <img alt="" class="text-center" src="/portals/0/grouped-large-icon-2x.png" style="width: 33%;" title="" /></a></p>

</body>
